.container {
  box-sizing: border-box;
  margin-top: 1rem;
  margin-inline: 1rem;
  padding-bottom: 1rem;
  position: relative;
  height: calc(100% - .25rem);
  overflow-y: scroll;
  border-radius: 8px;
}

.gr-total-col {
  color: var(--ion-color-primary-tint);
  font-weight: bold;
}

.gr-styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
}

.gr-styled-table thead tr {
  background-color: var(--ion-color-secondary);
  color: #ffffff;
  text-align: center;
  position: sticky;
  top: 0;
}

.gr-styled-table th,
.gr-styled-table td {
  padding: 8px 10px;
  text-align: center;
}

.gr-styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.gr-styled-table tbody tr:nth-of-type(even) {
  background-color: var(--ion-color-surface);
}

.gr-styled-table tbody tr:nth-of-type(odd) {
  background-color: var(--ion-color-surface-container);
}

.gr-styled-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--ion-color-secondary);
}

@media (prefers-color-scheme: dark) {
  .gr-styled-table thead tr {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-on-primary);
  }
  .gr-styled-table tbody tr {
    border-bottom: 1px solid var(--ion-color-light-tint);
  }

  .gr-styled-table tbody tr:nth-of-type(even) {
    background-color: var(--ion-color-surface-container-high);
  }
}
