<div style="display: flex; gap: 1em; align-items: center; justify-content: center">
  <ion-button mode="md" size="large" (click)="decrement()" [color]="color">
    <ion-icon mode="md" slot="icon-only" name="minus" style="font-weight: bold;"></ion-icon>
  </ion-button>
  <div style="min-width: 1em; text-align: center; font-size: 3em">
    <ion-text>{{ value }}</ion-text>
  </div>
  <ion-button mode="md" size="large" (click)="increment()" [color]="color">
    <ion-icon mode="md" slot="icon-only" name="add" style="font-weight: bold;"></ion-icon>
  </ion-button>
</div>
