<ion-header [translucent]="true">
</ion-header>

<ion-content>
  <div class="sd-content-container">
    <div class="sd-input-container">
      <h1 class="sd-page-title">Login</h1>
      <ion-input mode="md" [(ngModel)]="email" labelPlacement="stacked" label="Email" fill="solid" type="email"
                 enterkeyhint="next"></ion-input>
      <ion-input mode="md" [(ngModel)]="password" labelPlacement="stacked" label="Password" fill="solid" type="password"
                 enterkeyhint="done"></ion-input>
      <ion-nav-link (click)="showResetPasswordAlert()">
        <ion-note>Forgot password?</ion-note>
      </ion-nav-link>
      <div class="sd-button-container">
        <ion-button [routerLink]="['/signup']" color="light">Signup</ion-button>
        <ion-button (click)="login()">Login</ion-button>
      </div>
    </div>
  </div>
</ion-content>
