.sd-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.sd-button-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sd-button-container ion-button {
  flex-grow: 1;
}

.sd-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.sd-page-title {
  font-size: 5rem;
  text-align: center;
  font-family: "Crimson Pro", serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--md-primary);
}
