.gh-chips {
  margin: .5rem;
  display: flex;
  flex-direction: row-reverse;
}

@keyframes grow {
  0% {
    height: 0;
  }
  25% {
    height: 25%;
  }
  50% {
    height: 50%;
  }
  75% {
    height: 75%;
  }
  100% {
    height: 100%;
  }
}

.charts-container {
  position: relative;
}

.md .ph-chart-container {
  height: calc(100vh - 170px);
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 3px;
  position: absolute;
  top: 0;
}

.ios .ph-chart-container {
  height: calc(100vh - 155px);
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 3px;
  position: absolute;
  top: 0;
}

.ph-bar-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: end;
  gap: 4px;
  animation-name: grow;
  animation-duration: 0.2s;
}

.ph-bar-line {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.ph-bar-label {
  text-align: center;
  font-size: 0.75rem;
}

.ph-axis-label {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  height: 1em;
  color: var(--ion-color-medium);
}

.ph-inactive-bar {
  background: var(--ion-color-surface-dim);
}

.ph-active-bar {
  background-color: var(--ion-color-primary);
}

@media (prefers-color-scheme: light) {
  .gh-chip-active {
    --background: var(--ion-color-tertiary-container);   // tertiary container
    --color: var(--ion-color-on-tertiary-container);       // on tertiary container
  }
  .gh-chip-inactive {
    --background: var(--ion-color-surface-container-high);  // surface container high
    --color: var(--ion-color-on-surface-variant);      // on surface variant
  }
}

@media (prefers-color-scheme: dark) {
  .gh-chip-active {
    --background: var(--ion-color-tertiary-container);   // tertiary container
    --color: var(--ion-color-on-tertiary-container);       // on tertiary container
  }
  .gh-chip-inactive {
    --background: var(--ion-color-surface-container-high);  // surface container high
    --color: var(--ion-color-on-surface-variant);      // on surface variant
  }
}

@media (prefers-color-scheme: dark) {
  .ph-inactive-bar {
    background: var(--ion-color-surface);
  }


}
