/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * CSS imports are loaded via angular.json styles array.
 * This file contains app-specific global styles only.
 */

@font-face {
  font-family: 'Crimson Pro';
  src: url('assets/fonts/CrimsonPro-Regular.ttf');
}


.md .alert-wrapper {
  border-radius: 8px;
}

.md ion-button {
  --border-radius: 8px;
}

.ios ion-tab-bar {
  padding-top: .5rem;
  padding-bottom: .5rem;
}


.md .sd-tabs-border {
  border-bottom: 1px solid var(--ion-color-light-shade);
}

.sd-alert-message .alert-message {
  color: var(--ion-color-danger);
  font-style: italic;
}

ion-title {
  font-family: 'Crimson Pro', sans-serif;
}

.md .title-default {
  font-size: 2.25rem;
}

.ios .title-default {
  font-size: 1.5rem;
}

.md .sd-swiper-slide {
  height: calc(100vh - 120px);
}

.ios .sd-swiper-slide {
  height: calc(100vh - 100px);
}


@media (prefers-color-scheme: dark) {
  .md .sd-tabs-border {
    border-bottom: 1px solid var(--ion-background-color-step-150);
  }

  .sd-alert-message .alert-message {
    color: var(--ion-color-warning);
    font-style: italic;
  }
}

