<ion-header [translucent]="true" class="ion-no-border"></ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; gap: 1rem; justify-content: center; height: 100%; width: 100%;">
    <div style="display: flex; gap: 1rem; margin-top: auto; width: 100%; padding: 3rem 1rem 3rem 2rem">
      <ion-button style="flex-grow: 1;" size="large" [routerLink]="['/setup']">Start Game</ion-button>
      <ion-button fill="text" [routerLink]="['/app-settings']">
        <ion-icon style="width: 32px; height: 32px;" color="secondary" slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
